@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary: #cc4331;
  --secondary: #ffef86;
  --green: #5bc65e;
  --blue: #1e90ff;
  --white: #fff;
  --black: #000;
  --dark-gray: #1c1c1c;
  --light-gray: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: var(--primary);
}

a {
  text-decoration: 2px solid var(--primary) !important;
  color: var(--black);
}

button,
a.btn {
  cursor: pointer;
  outline: none;
  height: 30px !important;
  padding-inline: 10px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  &.icon {
    width: 30px;
    min-width: 30px;
    font-size: 20px;
    padding: 0;
    text-align: center;
    justify-content: center;
  }
  &.withicon {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    svg{
      font-size: 20px;
    }
  }
  &.secondary {
    background-color: var(--secondary);
    color: var(--black);
  }
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  height: 50px;
  background-color: var(--white);
  border-bottom: 2px solid var(--light-gray);
}
nav div {
  display: flex;
  align-items: center;
  gap: 14px;
}
nav div span.divider {
  width: 1px;
  height: 20px;
  background-color: var(--dark-gray);
}

@media (width<=850px) {
  nav div{
    gap: 8px;
    a.btn{
      span{
        display: none;
      }
      &.withicon{
        width: 30px;
        padding: 0;
        justify-content: center;
        font-size: 20px;
        svg{
          size:initial;
        }
      }
    }
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--white);
  border-top: 2px solid var(--light-gray);
  padding-inline: 20px;
}

hr {
  margin-block: 32px;
  border-color: var(--dark-gray);
}

/* Main */
main {
  padding: 20px 4rem;
}

@media (width<=700px) {
  main {
    padding: 20px;
  }
}

main header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}
main header div.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--black);
  padding: 10px;
  min-width: 100px;
  &.box-review {
    background-color: var(--secondary);
  }
  &.box-preliminar {
    background-color: var(--blue);
    color: var(--white);
  }
  &.box-provisional {
    background-color: var(--green);
  }
}
@media (width<=850px) {
  main header{
    gap: 0;
  }
  main header div.box {
    flex: 1;
    min-width: auto;
  }
  main header div.box:not(:last-child) {
    border-right: none;
  }
  main header div.box small {
    display: none;
  }
}

/* Container da Tabela */
main div.container {
  margin-top: 10px;
  width: 100%;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  border: 2px solid var(--black);
}

/* Estrutura da Tabela */
table.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: var(--white);
}

/* Cabeçalho da Tabela */
table.table thead {
  background-color: var(--black);
  color: var(--white);
}

table.table th {
  padding: 12px 15px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--black);
}

table.table th div.icon-label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  span {
    display: block;
  }
  .icon {
    display: none;
  }
  svg{
    font-size: 20px;
  }
}

/* Linhas e Células */
table.table tbody tr {
  border-bottom: 1px solid var(--dark-gray);
  transition: background-color 0.2s ease;
}

/* Efeito Zebrado sutil */
table.table tbody tr:nth-child(even) {
  background-color: var(--light-gray);
}

/* Efeito de Hover na linha */
table.table tbody tr:hover {
  background-color: rgba(255, 239, 134, 0.2);
}

table.table td {
  padding: 12px 15px;
  font-size: 0.9rem;
  color: var(--dark-gray);
  vertical-align: middle;
}

/* Estilização dos Status */
table.table td span.status-text,
table.table td span.status-badge {
  display: inline-block;
  padding: 2px 8px;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  border: 1px solid var(--black);
}

table.table td span.status-badge {
  display: none;
  padding: 8px;
  width: 10px;
  height: 10px;
}

@media (width<=850px) {
  table.table td span.status-badge {
    display: block;
  }
  table.table td span.status-text {
    display: none;
  }
}

table.table td div.withbtn-field {
  display: flex;
  gap: 10px;
  align-items: center;
  a {
    text-decoration: 2px underline var(--primary);
    font-weight: bold;
  }
}

table.table td div.container-count-badge {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
table.table td div.container-count-badge p.count-badge {
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  padding: 2px 8px;
  margin: 0;
  &.count-badge-total {
    border-color: var(--black);
  }
  &.count-badge-review {
    border-color: var(--secondary);
    background-color: var(--secondary);
  }
  &.count-badge-premilinar {
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--white);
  }
  &.count-badge-provisional {
    border-color: var(--green);
    background-color: var(--green);
  }
}

/* Container e Alinhamento Central */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

/* Caixa de Login Brutalistas */
.login-box {
  width: 100%;
  max-width: 400px;
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 30px;
  box-shadow: 4px 4px 0px var(--black);
}
.login-box h2 {
  text-align: center;
  font-style: italic;
}

.login-text {
  font-size: 0.85rem;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

/* Abas de Navegação (Tabs) */
.login-tabs {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--black);
  padding-bottom: 10px;
}

.login-tab-btn {
  flex: 1;
  background: none;
  color: var(--black);
  border: 1px solid var(--dark-gray);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  font-family: "Space Mono", monospace;
}

.login-tab-btn.active {
  background-color: var(--secondary);
  color: var(--black);
  border: 2px solid var(--black);
}

/* Formulário e Inputs */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label, .input-group .label {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
}

.login-input {
  height: 40px;
  padding-inline: 10px;
  font-family: "Space Mono", monospace;
  border: 2px solid var(--black);
  outline: none;
  background-color: var(--white);
}
textarea.login-input {
  min-height: 80px;
  resize: vertical;
  padding-top: 6px;
}

.login-input:focus {
  background-color: var(--light-gray);
  border-color: var(--primary);
}

/* Botão de Envio (Aproveitando a base de 'button' do seu CSS) */
.login-submit-btn {
  width: 100%;
  height: 40px !important; /* Sobrescreve os 30px do seletor genérico */
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid var(--black);
  margin-top: 10px;
  box-shadow: 2px 2px 0px var(--black);
}

.login-submit-btn:active {
  box-shadow: 0px 0px 0px var(--black);
  transform: translate(2px, 2px);
}

.code-highlight-banner {
  width: 100%;
  background-color: var(--secondary);
  color: var(--black);
  border: 2px solid var(--black);
  padding: 10px;
  text-align: center;
  margin-block: 4px;
  font-size: 20px;
}

.danger-zone {
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
}


.input-ratio{
  width: 100%;
  display: flex;
  .ratio-label{
    height: 30px;
    width: 100%;
    border: 2px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    input{
      visibility: hidden;
      display:none;
    }
    &.selected{
      background-color: var(--primary);
      color: var(--white);
      &.review{
        background-color: var(--secondary);
        color: var(--black);
      }
      &.preliminar{
        background-color: var(--blue);
        color: var(--white);
      }
      .provisional{
        background-color: var(--green);
        color: var(--black);
      }
    }
  }
  .ratio-label:not(:last-child){
    border-right: none;
  }
}

.status-badge {
  width: 14px;
  height: 14px;
  border: 1px solid var(--black);
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}
.status-provisorio {
  background-color: var(--green);
}
.status-preliminar {
  background-color: var(--blue);
  color: var(--white);
}
.status-em-analise {
  background-color: var(--secondary);
}


.modal-backdrop{
  position: fixed;
  inset: 0;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content{
  background-color: var(--white);
  color: var(--black);
  padding: 24px;
  max-width: 400px;
  width: 90%;
  position: relative;
  border: 2px solid var(--black);
  box-shadow: 4px 4px 0px var(--black);
}
.modal-close-btn{
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary);
  font-weight: bold;
}
.modal-code{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}
.modal-infos{
  display: flex;
  flex-direction: column;
  gap: 10px;
}